# String Example

1. Define different types of variables (integer, boolean,
string, float, complex) and print their values and their
types

In [1]:
int_val = 5
print("The Value of Interger is: ",int_val)
type(int_val)

The Value of Interger is:  5

int

In [2]:
bool_val = True
print("The Value of Booloean is: ",bool_val)
type(bool_val)

The Value of Booloean is:  True

bool

In [3]:
name = "Prolay Banik"
print("The Value of String is: ",name)
type(name)

The Value of String is:  Prolay Banik

str

In [4]:
float_val = 5.5
print("The Value of Float is: ",float_val)
type(float_val)

The Value of Float is:  5.5

float

In [5]:
complx = 3+4j
print("The Value of Complex Number is: ",complx)
type(complx)

The Value of Complex Number is:  (3+4j)

complex

2. In the above question convert float variable into integer
type and integer variable into str type.

In [30]:
float_to_int = int(float_val)
print("After converting float into integer is: ",float_to_int)

After converting float to integer is:  5

In [32]:
int_to_str = str(int_val)
print("After converting integer into String is: ",int_to_str)

After converting integer into String is:  5

3. What will you get converting “abc” into boolean?

In [36]:
str_val = "abc"
str_to_bool = bool(str_val)
print("After converting 'abc' into Boolean is: ",str_to_bool)

After converting 'abc' into Boolean is:  True

4.  Print the substring from index 2 to index 4 for any given
string. For example (llo) from “Hello World”

In [48]:
str1 = "Prolay Banik"
str2 = str1[2:5]
print("The resultant substring is : ",str2)

The resultant substring is :  ola

5.  Write a program to check a substring in a given string.
For example 'e' is present in the word 'Umbrella'

In [55]:
# Here, I've used a regular expression package, re to search
import re
str3 = str(input("Enter a word: "))
str4 = str(input("Enter a letter which you want to find: "))
str3 = str3.lower()
str4 = str4.lower()
# re.search() returns a Match object if there is a match anywhere in the string 
if re.search( str4, str3 ): 
    print("YES,string '{0}' is present in string '{1}' " .format(str4,str3)) 
else: 
    print("NO,string '{0}' is not present in string {1} " .format(str4, str3) )

Enter a word: umbrella
Enter a letter which you want to find: p
NO,string 'p' is not present in string umbrella

6. Use the correct comparison operator to check if 5 is not equal to 10.

In [2]:
# Relational Operators
a=5
b=10
# Check if a=b or not
print("The comparision result between a & b is: ",(a==b))

The comparision result between a & b is:  False

7. Write a program to get a string from the user and sort the words of the string in alphabetical order.

In [6]:
str5 = str(input("Enter a word: "))
str6 = ''.join(sorted(str5))
print("String after sorting : " + str(str6))

Enter a word: wefafbdieoe
String after sorting : abdeeeffiow

8. Join two words using special characters like ‘ – ‘ ,’#’

In [7]:
a = 'Prolay'
b = 'Banik'
print("Two words joined using special char _ :",a+'_'+b)
print("Two words joined using special char # :",a+'#'+b)
print("Two words joined using special char $ :",a+'$'+b)

Two words joined using special char _ : Prolay_Banik
Two words joined using special char # : Prolay#Banik
Two words joined using special char $ : Prolay$Banik

9. Find all occurrences of “INDIA” in a given string ignoring the case.
input_str = "Welcome to INDIA. india is awesome.

In [13]:
str7 =  "Welcome to INDIA. india is awesome."
str7 = str7.upper()
# finding occurrences of 'India' in a sentence
print("Find all occurrences of “INDIA” in a sentence :",str7.count("INDIA"))

Find all occurrences of “INDIA” in a sentence : 2

10. Replace first two ‘l’ with ‘n’ in ‘Hello World’

In [24]:
str8 = 'Hello World'
str8 = str8.replace('l','n',2)
str8

'Henno World'

11. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Robert Brett Roser, then the output should be R.B.Roser.

In [18]:
# python program to print initials of a name  
def name(s): 
  
    # split the string into a list  
    l = s.split() 
    new = "" 
  
    # traverse in the list  
    for i in range(len(l)-1): 
        s = l[i] 
          
        # adds the capital first character  
        new += (s[0].upper()+'.') 
          
    # l[-1] gives last item of list l. We use title to print first character in capital. 
    new += l[-1].title() 
      
    return new

In [28]:
s = 'sachin ramesh tendulkar'
print(name(s))

S.R.Tendulkar

12. Write a program to check if a given string is a Palindrome. A palindrome reads the same from front and back e.g.-
aba, ccaacc, mom, etc.

In [29]:
# function which return reverse of a string 
  
def isPalindrome(s): 
    return s == s[::-1]

In [32]:
s = "madam"
out = isPalindrome(s)
if out: 
    print("Yes") 
else: 
    print("No")

Yes

# Python Programming - 2
### Tuples and Sets

1. Write a Python program to add an item in a tuple.

In [37]:
t1 = 10, 20, 'pralay'
print("Initial tuple: ",t1)
t1=t1 + (5,)
print("After adding a new element in tuple: ",t1)

Initial tuple:  (10, 20, 'pralay')
After adding a new element in tuple:  (10, 20, 'pralay', 5)

2. Write a Python program to reverse a tuple.

In [43]:
t2=reversed(t1)
t2=tuple(t2)
print("Output after reversing a tuple",t2)

(5, 'pralay', 20, 10)

3. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [45]:
tuple1 = (11, 22) 
tuple2 = (99, 88)
tup_list = [(11, 22), (99,88)] 
  
# printing original list 
print("The original list is : " + str(tup_list)) 
  
# Swap tuple elements in list of tuples Using list comprehension 
output = [(sub[1], sub[0]) for sub in tup_list] 
          
print("The swapped tuple list is : " + str(output))

The original list is : [(11, 22), (99, 88)]
The swapped tuple list is : [(22, 11), (88, 99)]

4.  Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)

In [54]:
# we can't modify an element in a tuple, as tuple is immutable. But we can do that if we can convert it to list,
#then modify and convert agian to tuple
# Here, I've done this. But, for the answer of Q4 is "Modification is not possible"
tuple1 = (11, [22, 33], 44, 55)
a = list(tuple1)
a[1][0] = 222
a = tuple(a)
print(a)

(11, [222, 33], 44, 55)

5.  Write a Python program to unpack a tuple in several
variables

In [57]:
# The tuple elements PACKS values into variable a 
a = ("DataFolkz", 30, "PCDS")   
  
# This UNPACKS values of variable a 
a = (Institution, Student,Course_name)    
  
# print Institution name 
print(Institution) 
  
# print no of student 
print(Student) 
  
# print type of Course Name 
print(Course_name)

DataFolkz
30
PCDS

6.  Write a Python program to add member(s) in an empty set.

In [72]:
x = set()
x.add(0)
print(x)
x.add(5)
print(x)
type(x)

{0}
{0, 5}

set

7.  Write a Python program to create an intersection of sets

In [73]:
# Two sets are defined here 
A = {0, 2, 4, 6, 8}; 
B = {1, 2, 3, 4, 5}; 
   
# intersection 
print("Intersection :", A & B)

Intersection : {2, 4}

8.  Write a Python program to create a symmetric difference
in sets.

In [76]:
# Here, I'm using same 2 sets used in previous question, then used the in-built function of symmetric difference
print("symmetric difference between Set A & B is: ",A.symmetric_difference(B))

symmetric difference between Set A & B is:  {0, 1, 3, 5, 6, 8}

9.   Return a set of identical items from a given two Python sets


set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]

In [92]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print("Identical items from a given two Python sets (Approach1): ",set1 & set2)
print("Identical items from a given two Python sets (Approach2): ",set(set1) & set(set2))

Identical items from a given two Python sets (Approach1):  {40, 50, 30}
Identical items from a given two Python sets (Approach2):  {40, 50, 30}

10. Remove 10, 20, 30 elements from a following set at once

set1 = {10, 20, 30, 40, 50}

In [111]:
set1 = {10, 20, 30, 40, 50}
set1.remove(10)  # This will remove one element at a time
set1
set1.difference_update({10, 20, 30}) # This will remove multiple elements at a time
set1

{40, 50}

11.   Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [113]:
tuple1 =  ("Pooja", [10, 20, 30], (25, 50, 15))
print("Print 20 from the above example: ",tuple1[1][1])

Print 20 from the above example:  20

12.  Count the number of occurrences of item 50 from a tuple
numbers = (50, 10, 60, 70, 50)

In [116]:
tuple10 = (50, 10, 60, 70, 50)
a = tuple10.count(50)
print("The number of occurrences of item 50 from the above tuple example: ",a)

The number of occurrences of item 50 from the above tuple example:  2

# Python Programming - 3

### Lists

1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]

i) Print the second item from the list.

ii) Change the value from "Gurgaon" to "Kerala"

iii) Remove the last element of the list.

In [131]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']
print("Print second item from the list: ",City[1])
City[0]='Kerala'
print("Print the changed value of 1st element: ",City)
del City[-1]
print("Remove last elment from the list: ",City)

Print second item from the list:  Mumbai
Print the changed value of 1st element:  ['Kerala', 'Mumbai', 'Bangalore']
Remove last elment from the list:  ['Kerala', 'Mumbai']

2. Use negative indexing to print the last item in the list. Make
a list by yourself.

In [133]:
myVisit = ['Kolkata', 'Mumbai', 'Ahmedabad','Gandhinagar','Delhi','Shimla','Spiti','Nainital']
print("Use negative indexing to print the last item from the above list: ",myVisit[-1])

Use negative indexing to print the last item from the above list:  Nainital

3. Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself.

In [134]:
print("A range of indexes to print the third,fourth,and fifth item in the above list: ",myVisit[2]+' & '+myVisit[3]+' & '+myVisit[4])

A range of indexes to print the third, fourth, and fifth item in the above list:  Ahmedabad & Gandhinagar & Delhi

4. Remove the last element from the city list

In [137]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']
del City[-1]
print("Remove the last elment from the City list: ",City)

Remove the last elment from the City list:  ['Gurgaon', 'Mumbai']

5.   fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]

i) Add "orange" at the end of the above list.

ii) Add "lemon" as the second item in the fruits list

In [142]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
fruits.append('orange')
print("Add 'orange' at the end of the above list: ",fruits)
fruits.insert(1,'lemon')
print("Add 'lemon' at the second item of the above list: ",fruits)

Add 'orange' at the end of the above list:  ['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
Add 'lemon' at the second item of the above list:  ['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

6.  Remove ‘cherry’ from the fruit list given above.

In [144]:
fruits.remove('cherry')
print("Remove ‘cherry’ from the fruit list given above: ",fruits)

Remove ‘cherry’ from the fruit list given above:  ['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

7.  Write the python program to let the user input a list of
numbers and print the list in descending order.

In [151]:
lst = [] 
  
# number of elemetns as input 
n = int(input("Enter number of elements : ")) 
  
# iterating till the range 
for i in range(0, n): 
    ele = int(input()) 
  
    lst.append(ele) # adding the element 
      
print("The list provided by the user: ",lst) 
lst.sort(reverse = True)
print("The list in reverse order: ",lst)

Enter number of elements : 3
16
5
48
The list provided by the user:  [16, 5, 48]
The list in reverse order:  [48, 16, 5]

8.  Write the python program to let the user input two lists and
combine both the lists.

In [191]:
lst1 = [] 
lst2 = []  
# number of elemetns as input 
n1 = int(input("Enter number of elements for 1st list: ")) 
  
# iterating till the range 
for i in range(0, n1): 
    ele1 = int(input()) 
  
    lst1.append(ele1) # adding the element 
n2 = int(input("Enter number of elements for 2nd list: ")) 
  
# iterating till the range 
for j in range(0, n2): 
    ele2 = int(input()) 
  
    lst2.append(ele2) # adding the element      
print("The 1st list provided by the user: ",lst1) 
print("The 2nd list provided by the user: ",lst2) 
lst3 = lst1 + lst2
print("Combine both the list: ",lst3)

Enter number of elements for 1st list: 5
5
12
26
45
12
Enter number of elements for 2nd list: 2
30
40
The 1st list provided by the user:  [5, 12, 26, 45, 12]
The 2nd list provided by the user:  [30, 40]
Combine both the list:  [5, 12, 26, 45, 12, 30, 40]

9.   List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [190]:
import random
list_shuf = [10, 45, 78, 11, 9, 23]
random.shuffle(list_shuf)
print("After Shuffling the list will be: ",list_shuf)

After Shuffling the list will be:  [10, 23, 78, 45, 9, 11]

10.  x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

i) What is the expression that returns the 'z' in 'baz'?

ii) What expression returns the list ['baz', 2.718]?

In [202]:
x = [10,[3.141,20,[30,'baz',2.718]],'foo']
print("The expression that returns the '",x[1][2][1][2],"' in 'baz' is: 'x[1][2][1][2]'")
print("The expression returns the list ",x[1][2][1:3]," is: 'x[1][2][1:3]'")

The expression that returns the ' z ' in 'baz' is: 'x[1][2][1][2]'
The expression returns the list  ['baz', 2.718]  is: 'x[1][2][1:3]'

11. Extract element 20 from the above list.

In [205]:
print("The expression which extract ",x[1][1]," from the above list: x[1][1]")

The expression which extract  20  from the above list: x[1][1]

12.  You have a list a = [1, 2, 7, 8]

Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

# Python Programming - 4
### Dictionary

Given a dictionary:
car = {"brand": "Ford”, “model":"Mustang","year":1964}

1. Print the value of the "model" key of the car dictionary.

2. Change the "year" value from 1964 to 2020.

3. Add the key/value pair "colour”: "red" to the car dictionary

In [214]:
car = {"brand": "Ford", "model":"Mustang","year":1964}
print("Print the value of the 'model' key of the car dictionary: ",car.get('model'))
car['year']='2020'
print("After modification of the 'year' value: ",car)
car.update({"colour":"red"})
print("After adding a key/value pair, the dictionary value is ",car)
#car.update("colour":"red")

Print the value of the 'model' key of the car dictionary:  Mustang
After modification of the 'year' value:  {'brand': 'Ford', 'model': 'Mustang', 'year': '2020'}
After adding a key/value pair, the dictionary value is  {'brand': 'Ford', 'model': 'Mustang', 'year': '2020', 'colour': 'red'}

Given a dictionary inventory :

inventory = {'gold' : 500, 'pouch' : ['flint', 'twine', 'gemstone'],
'backpack' : ['xylophone’, ‘dagger', 'bedroll’, ‘bread’, ‘loaf']}


4. Add a key to inventory called 'pocket' and Set the value of
'pocket' to be a list consisting of the strings 'seashell', 'strange
berry', and 'lint'.

In [221]:
inventory = {'gold' : 500, 'pouch' : ['flint', 'twine', 'gemstone'], 'backpack' : ['xylophone', 'dagger', 'bedroll', 'bread', 'loaf']}
inventory.update({'pocket':['seashell', 'strange berry', 'lint']})
print("After adding a key/value pair, the dictionary value is ",inventory)

After adding a key/value pair, the dictionary value is  {'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['xylophone', 'dagger', 'bedroll', 'bread', 'loaf'], 'pocket': ['seashell', 'strange berry', 'lint']}

5.  Sort the items in the list stored under the 'backpack' key.

In [233]:
dict1 = {}
dict1 = sorted(inventory.get('backpack'))
print("The 'backpack' key values are: ",dict1)

The 'backpack' key values are:  ['bedroll', 'bread', 'dagger', 'loaf', 'xylophone']

6.  Remove 'dagger' from the list of items stored under the 'backpack' key.

In [234]:
dict1.remove('dagger')
print("Remove 'dagger' from the list of items stored under the 'backpack' key: ",dict1)

Remove 'dagger' from the list of items stored under the 'backpack' key:  ['bedroll', 'bread', 'loaf', 'xylophone']

7.  Add 50 to the number stored under the 'gold' key.

In [237]:
a = int(inventory.get('gold')) + 50
print("The value of gold after adding 50 with its initial value: ",a)

The value of gold after adding 50 with its initial value:  550

8. Write a Python script to concatenate three dictionaries to create
a new one. Make dictionaries yourself.

In [239]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

9.  Write a Python program to sum all the items in a dictionary.

In [244]:
print('The sum of all items in keys is ',sum(dic4.keys()),'& values is ',sum(dic4.values()))

The sum of all items in keys is  21 & values is  210

10.  Write a Python script to check whether a given key already exists in a dictionary.

d = {'foo': 100, 'bar': 200, 'baz': 300}

In [247]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
def is_key_present(x):
  if x in d:
      print('Key is present in the dictionary')
  else:
      print('Key is not present in the dictionary')
is_key_present('foo')
is_key_present('fool')

Key is present in the dictionary
Key is not present in the dictionary

11.  What method call will delete the entry whose value is 200?

In [253]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
#Using del to remove 200 
del d['bar']
  
# Modified Dictionary   
print ("The dictionary after remove is : " + str(d))

The dictionary after remove is : {'foo': 100, 'baz': 300}

12.  Write a Python program to check multiple keys exists in a dictionary.

In [254]:
# Python3 code heck multiple key existence 
# using issubset 
  
# initializing a dictionary 
sports = {"geeksforgeeks" : 1, "practice" : 2, "contribute" :3} 
  
# creating set of keys that we want to compare 
s1 = set(['geeksforgeeks', 'practice']) 
s2 = set(['geeksforgeeks', 'ide']) 
  
print(s1.issubset(sports.keys())) 
print(s2.issubset(sports.keys()))

True
False